<article class="reply clearfix">
  <div class="avatar">
      <img src=<%= current_user.avatar %> alt="" class="image-circle">  </div>
  <div class="body">
  <%= form_for(Comment.new(:issue_id => @issue.id, :user_id => current_user.id), remote: true) do |f|  %>
    <%= f.text_area(:content) %>
    <%= f.hidden_field :issue_id %>
    <%= f.hidden_field :user_id  %>
    <%= submit_tag '提交评论', class: 'btn btn-primary btn-submit' %>
  <% end %>
  </div>
</article>

<script>
  var commenter_list = [];
  $('.reply .name a').each( function() {
    if($.inArray($(this).text(), commenter_list) < 0 ){
      commenter_list.push($(this).text());
    }
  });
  $('textarea').atwho({at: "@", 'data':commenter_list});
</script>